---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div style="width: 100%;">
    <div style="width: 50%; float: left;" class="r-stack">
      <img src="static.png" class="fragment fade-in-then-out" data-fragment-index="1">
      <img src="periodic.gif" class="fragment fade-in-then-out" data-fragment-index="2">
      <img src="glider.png" class="fragment fade-in-then-out" data-fragment-index="3">
      <img src="glider.gif" class="fragment fade-in-then-out" data-fragment-index="4">
      <img src="Gospers_glider_gun.gif" style="transform: scale(2); image-rendering: pixelated;"class="fragment fade-in-then-out" data-fragment-index="5">
    </div>
    <div style="width: 50%; float: right">
      <h5>Figures remarquables</h5>
      <ol style="font-size: 0.6em">
        <li style="margin: 10% 0" class="fragment" data-fragment-index="1">Statiques</li>
        <li style="margin: 10% 0" class="fragment" data-fragment-index="2">Périodiques</li>
        <li style="margin: 10% 0" class="fragment" data-fragment-index="3">Vaisseaux</li>
        <li style="margin: 10% 0" class="fragment" data-fragment-index="5">Canons à vaisseaux</li>
      </ol>
    </div>
  </div>
</Slide>
