---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div style="width: 100%;">
    <div style="width: 40%; float: left;">
      <img src="url_openfeedback.io.png"/>
    </div>
    <div style="width: 40%; float: right">
      <video loop data-autoplay muted src="theo-gameoflife.mp4" height="400" style="margin-bottom: 0;"></video>
      <label style="position: relative; top: -30px; font-size: 0.5em;">github.com/TGianella</label>
  </div>
</Slide>
