---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div style="width: 100%;">
    <div style="width: 50%; float: left;">
			<h5>Faites vos retours !</h5>
      <img src="feedback_lyonJS.png"/>
    </div>
    <div style="width: 50%; float: right">
      <video loop data-autoplay muted src="theo-gameoflife.mp4" height="400" style="margin-bottom: 0;"></video>
		</div>
	</div>
	<div style="display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -1em;
    width: 100%;">
		<label style="font-size: 0.5em;">tgianella.github.io/game-of-life</label><br>
		<label style="margin-top: -20px; font-size: 0.5em;">github.com/TGianella/game-of-life</label><br>
	</div>
</Slide>
