
---
import Slide from "../components/Slide.astro";
---

<Slide>
  <aside class="notes">
    Des motifs mystérieux qui évoluent tout seuls, sans ordre apparent mais pourtant avec une logique qui leur est propre...
    <br><br><br><br><br>
    Je me suis dit que pour trouver 
  </aside>
  <section data-background-iframe="https://piellardj.github.io/game-of-life-webgl/?page%3Acanvas%3Afullscreen=true&page%3Atabs%3Aneighbours-tabs-0=death&page%3Atabs%3Aneighbours-tabs-1=death&page%3Atabs%3Aneighbours-tabs-2=alive&page%3Atabs%3Aneighbours-tabs-3=alive%3Bbirth&page%3Atabs%3Aneighbours-tabs-4=death&page%3Atabs%3Aneighbours-tabs-5=death&page%3Atabs%3Aneighbours-tabs-6=death&page%3Atabs%3Aneighbours-tabs-7=death&page%3Atabs%3Aneighbours-tabs-8=death&page%3Arange%3Apersistence-range-id=3&page%3Acanvas%3Asidepane=false&page%3Acheckbox%3Aindicators-checkbox-id=false"></section>
</Slide>
