---
import Slide from "../components/Slide.astro";
---

<Slide>
	<h4>Interfacer JS et Wasm</h4>
	<div class="r-stack">
		<img class="fragment fade-in-then-out" src="../../public/interface-schema/1.png" width="900" />
		<img class="fragment fade-in-then-out" src="../../public/interface-schema/2.png" width="900" />
		<img class="fragment fade-in-then-out" src="../../public/interface-schema/3.png" width="900" />
		<img class="fragment fade-in-then-out" src="../../public/interface-schema/4.png" width="900" />
		<img class="fragment fade-in-then-out" src="../../public/interface-schema/5.png" width="900" />
		<img class="fragment fade-in-then-out" src="../../public/interface-schema/6.png" width="900" />
		<img class="fragment fade-in-then-out" src="../../public/interface-schema/7.png" width="900" />
		<img class="fragment fade-in-then-out" src="../../public/interface-schema/8.png" width="900" />
		<img class="fragment fade-in-then-out" src="../../public/interface-schema/9.png" width="900" />
	</div>
</Slide>
