---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h4 style="margin-bottom: 50px;">Le jeu de la vie</h4>
  <div style="width: 100%;">
    <div style="width: 50%; float: left;" class="r-stack">
      <img src="../../public/empty_universe.png" class="fragment fade-in-then-out" data-fragment-index="2"/>
      <img src="../../public/exemple_1.png" class="fragment fade-in-then-out" data-fragment-index="3"/>
      <img src="../../public/exemple_2.png" class="fragment fade-in-then-out" data-fragment-index="4"/>
      <img src="../../public/exemple_3.png" class="fragment fade-in-then-out" data-fragment-index="5"/>
      <img src="../../public/rules/1-1.png" class="fragment fade-in-then-out" data-fragment-index="6"/>
      <img src="../../public/rules/voisins.png" class="fragment fade-in-then-out" data-fragment-index="7"/>
    </div>
    <div style="width: 50%; float: right">
      <ul style="font-size: 0.9em">
        <li style="margin: 10% 0" class="fragment" data-fragment-index="1">Un jeu à 0 joueurs</li>
        <li style="margin: 10% 0" class="fragment" data-fragment-index="2">Un plateau infini en 2D</li>
        <li style="margin: 10% 0" class="fragment" data-fragment-index="3">Des cases à l'état binaire</li>
        <li style="margin: 10% 0" class="fragment" data-fragment-index="4">Une génération = un état du plateau</li>
      </ul>
    </div>
  </div>
</Slide>
