---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h5>Implémentation du jeu de la vie en JavaScript</h5>
  <div class="r-stack">
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src="js_implementation/1.png" />
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src="js_implementation/2.png" />
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src="js_implementation/3.png" />
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src="js_implementation/4.png" />
    <img class="fragment fade-in-then-out" style="image-rendering: pixelated" src="js_implementation/5.png" />
  </div>
</Slide>
