---
---

<section data-background-image=`${import.meta.env.BASE_URL}/lyonjs-photo.jpeg`>
	<h3>Pour plus de détails</h3>
	<div style="display: flex; align-items: center; justify-content: space-evenly">
		<img src=`${import.meta.env.BASE_URL}/url_capta_lyonjs.png` width="200"/>
		<img src=`${import.meta.env.BASE_URL}/lyon-js.svg` width="300"/>
	</div>
</section>
