
---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div class="r-stack">
    <img src=`${import.meta.env.BASE_URL}/perf_JS.png`>
    <img src=`${import.meta.env.BASE_URL}/perf_JS_highlight_graph.png` class="fragment fade-in-then-out">
    <img src=`${import.meta.env.BASE_URL}/perf_JS_highlight_percentage.png` class="fragment fade-in-then-out">
  </div>
</Slide>
