---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div class="r-stack">
    <img src="/perf_WASM.png">
    <img src="/perf_WASM_highlight_graph.png" class="fragment fade-in-then-out">
    <img src="/perf_WASM_highlight_graph_comp.png" class="fragment fade-in-then-out">
    <img src="/perf_WASM_highlight_percentage.png" class="fragment fade-in-then-out">
  </div>
</Slide>
