---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div style="width: 100%;">
    <div style="width: 50%; float: left;" class="r-stack">
      <p class="fragment fade-in-then-out" data-fragment-index="1"> coucou </p>
      <p class="fragment fade-in-then-out" data-fragment-index="2"> coucou2 </p>
      <p class="fragment fade-in-then-out" data-fragment-index="3"> coucou3 </p>
      <p class="fragment fade-in" data-fragment-index="4"> coucou4 </p>
    </div>
    <div style="width: 50%; float: right;">
      <h5>Les 4 règles du jeu de la vie</h5>
      <ol>
        <li class="fragment" data-fragment-index="1">Solitude</li>
        <li class="fragment" data-fragment-index="2">Survie</li>
        <li class="fragment" data-fragment-index="3">Surpopulation</li>
        <li class="fragment" data-fragment-index="4">Résurrection</li>
      </ol>
    </div>
  </div>
</Slide>
