---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h5>Les 4 règles du jeu de la vie</h5>
  <div style="width: 100%;">
    <div style="width: 50%; float: left;" class="r-stack">
      <img src="rules/1-1.png" class="fragment fade-in-then-out" data-fragment-index="3">
      <img src="rules/1-1.png" class="fragment fade-in-then-out" data-fragment-index="4">
      <img src="rules/1-2.png" class="fragment fade-in-then-out" data-fragment-index="5">
      <img src="rules/2-1.png" class="fragment fade-in-then-out" data-fragment-index="6">
      <img src="rules/2-1.png" class="fragment fade-in-then-out" data-fragment-index="7">
      <img src="rules/3-1.png" class="fragment fade-in-then-out" data-fragment-index="8">
      <img src="rules/3-2.png" class="fragment fade-in-then-out" data-fragment-index="9">
      <img src="rules/4-1.png" class="fragment fade-in-then-out" data-fragment-index="10">
      <img src="rules/4-2.png" class="fragment fade-in-then-out" data-fragment-index="11">
    </div>
    <div style="width: 50%; float: right">
      <ol style="font-size: 0.6em">
        <li style="margin: 5% 0" class="fragment" data-fragment-index="4">Une cellule qui a moins de deux voisins meurt</li>
        <li style="margin: 5% 0" class="fragment" data-fragment-index="6">Une cellule avec deux ou trois voisins survit</li>
        <li style="margin: 5% 0" class="fragment" data-fragment-index="8">Une cellule avec plus de trois voisins meurt</li>
        <li style="margin: 5% 0" class="fragment" data-fragment-index="10">Une cellule vide avec exactement trois voisins devient vivante</li>
      </ol>
    </div>
  </div>
</Slide>
