---
import Slide from "../components/Slide.astro";
---

<Slide>
  <aside class="notes">
    Est-ce que ça vous est déjà arrivé dans la vie de ne plus comprendre le sens de ce que vous faites au quotidien ?
    De ne plus savoir pourquoi vous vous levez le matin ? bref, de vous rendre compte que cherchez un sens à votre vie ?
    Moi oui, c'était il y a un an... 
    <br><br><br><br><br>
    Alors j'ai fait ce que ferait toute personne sensée
  </aside>
  <div class="r-stack">
    <img 
      src="../../public/sad/man.jpg" 
      class="fragment" 
      height="400px"
      style="
        position: relative; 
        left: -300px;
        transform: rotate(-15deg);

      "
    >
    <img 
      src="../../public/sad/woman.jpg" 
      class="fragment" 
      height="450px"
      style="
        position: relative; 
        top: -30px;
        left: 300px;
        transform: rotate(35deg);

      "
    >
    <img 
      src="../../public/sad/cat.jpg" 
      class="fragment" 
      height="500px"
      style="
        position: relative; 
        top: 200px;
        left: 50px;
        transform: rotate(10deg);

      "
    >
  </div>
</Slide>
