---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div style="width: 100%">
    <div style="width: 45%; float: left">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" height="100" style="margin: 0"/>
      <video data-autoplay src="../../public/game-of-life-JS.mp4" muted loop style="height: 500px; width: 500px;"></video>
    </div>
    <div style="width: 45%; float: right">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" height="100" style="margin: 0"/>
      <span style="position: relative; top: -30px; margin: 0 10px;">+</span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/WebAssembly_Logo.svg" height="100" style="margin: 0"/>
      <video data-autoplay src="../../public/game-of-life-WASM.mp4" muted loop style="height: 500px; width: 500px;"></video>
    </div>
  </div>
</Slide>
