---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h3 style="max-width: 80%; margin: auto">Comment j'ai trouvé le sens de la vie grâce à WebAssembly</h3>
	<div style="position: relative; bottom: -4rem">
		<p>Théo Gianella</p>
		<small style="display: flex; align-items: center; justify-content: center; gap: 0.5vw;"><img src=`${import.meta.env.BASE_URL}/logo-breizhcamp.svg` width="30" /><strong>Breizhcamp</strong> - 28/06/2024</small>
	</div>
</Slide>
