---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h3 style="max-width: 80%; margin: auto">Comment j'ai trouvé le sens de la vie grâce à WebAssembly</h3>
	<div style="position: relative; bottom: -4rem">
		<p>Théo Gianella</p>
		<small>LyonJs - 17/01/2024</small>
	</div>
</Slide>
