---
import Slide from "../components/Slide.astro";
---

<Slide>
  <section data-autoplay data-background-video-loop data-background-video=`${import.meta.env.BASE_URL}/Life in life x2.mp4`></section>
</Slide>
