---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h4>C'est quoi WebAssembly ?</h4>
	<div class="r-stack">
		<img class="fragment fade-in-then-out" src="../../public/wasm-schema.png" width="700" />
		<img class="fragment fade-in-then-out" src="../../public/wasm-schema2.png" width="700" />
		<img class="fragment fade-in-then-out" src="../../public/wasm-schema3.png" width="700" />
		<img class="fragment fade-in-then-out" src="../../public/wasm-schema4.png" width="700" />
		<img class="fragment fade-in-then-out" src="../../public/wasm-schema5.png" width="700" />
		<img class="fragment fade-in-then-out" src="../../public/wasm-schema6.png" width="700" />
	</div>
</Slide>
