---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div style="width: 100%;">
    <div style="width: 50%; float: left;" class="fragment">
      <h5>Des avantages...</h5>
      <ul>
        <li>Performant</li>
        <li>Portable</li>
        <li>Léger</li>
      </ul>
    </div>
    <div style="width: 50%; float: right" class="fragment">
      <h5>et des inconvénients</h5>
      <ul>
        <li>Plus difficile</li>
        <li>Polyglotte</li>
        <li>Implémentation d'une interface</li>
      </ul>
    </div>
  </div>
</Slide>
