---
import Slide from "../components/Slide.astro";
---

<Slide>
  <section data-background-image="../../public/google.png"></section>
</Slide>

<Slide>
  <section data-background-image="../../public/jeu_de_la_vie_google.png"></section>
</Slide>
