---
import Slide from "../components/Slide.astro";
---

<Slide>
  <aside class="notes">
    J'ai cherche "sens de la vie" sur google
    <br><br><br><br><br>
    Et le résultat m'a surpris
  </aside>
  <section data-background-image=`${import.meta.env.BASE_URL}/google.png`></section>
</Slide>

<Slide>
  <aside class="notes">
    Je suis tombé là-dessus, et j'ai compris que ça allait pas être si simple de trouver le sens de la vie
    <br><br><br><br><br>
    J'ai été fasciné par ce que j'ai trouvé
  </aside>
  <section data-background-image=`${import.meta.env.BASE_URL}/jeu_de_la_vie_google.png`></section>
</Slide>
