
---
import Slide from "../components/Slide.astro";
---

<Slide>
  <section data-preload data-background-color="white" data-background-iframe="https://tgianella.github.io/game-of-life-js/"></section>
</Slide>
