---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/Title.astro";
import Sad from "../slides/sad.astro";
import WhyAstro from "../slides/WhyAstro.astro";
import GameOfLifeFullscreen from "../slides/GameOfLifeFullscreen.astro";
import IntroGameOfLife from "../slides/IntroGameOfLife.astro"
import Rules from "../slides/rules.astro"
import Emergence from "../slides/emergence.astro";
import Figures from "../slides/figures.astro"
import Turing from "../slides/turing.astro"
import Javascript from "../slides/Javascript.astro"
import Result from "../slides/Result.astro"
import Wrapping from "../slides/Wrapping.astro"
import PerfJS from "../slides/perfJS.astro"
import Drake from "../slides/drake.astro"
import Wasm from "../slides/Wasm.astro"
import WasmProsCons from "../slides/wasmProsCons.astro"
import WasmGameOfLife from "../slides/WasmGameOfLife.astro"
import PerfWASM from "../slides/perfWASM.astro"
import SideBySide from "../slides/sideBySide.astro"
import Performance from "../slides/performance.astro"
import Final from "../slides/final.astro"
import GameOfLifeSectionTitle from "../slides/GameOfLifeSectionTitle.astro";
import JavascriptSectionTitle from "../slides/JavascriptSectionTitle.astro";
import WasmSectionTitle from "../slides/WasmSectionTitle.astro";
import Bilan from "../slides/Bilan.astro";
import Interface from "../slides/Interface.astro";
---

<Layout title="Comment j'ai trouvé le sens de la vie grâce à WebAssembly">
  <main class="reveal">
    <div class="slides">
      <Title />
      <Sad />
      <WhyAstro />
      <GameOfLifeFullscreen />
			<GameOfLifeSectionTitle />
			<IntroGameOfLife />
			<Rules />
			<!--<Emergence />-->
			<!--<Figures />-->
			<!--<Turing />-->
			<JavascriptSectionTitle />
      <Javascript />
      <Result />
      <Wrapping />
      <PerfJS />
      <Drake />
			<WasmSectionTitle />
      <Wasm />
      <!--<WasmProsCons />-->
			<!--<Interface />-->
      <WasmGameOfLife />
      <PerfWASM />
			<!--<SideBySide />-->
      <Performance />
			<Bilan />
      <Final />
    </div>
  </main>
</Layout>

<style lang="scss">
  // Sass is installed by default, you can change if you prefer Stylus or Less
  main {
    background: linear-gradient(#133055, #0c1a2a);
  }
</style>
